.navbar {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary-color;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 6px 0;
  z-index: 1000;

  .container {
    @include center-flex;
    justify-content: space-between;
    padding: 0 15px;

    .logo {
      font-size: 1.5rem;
      color: #fff;
      text-transform: uppercase;
    }

    nav {
      ul.nav-links {
        display: flex;
        list-style: none;
        gap: 15px;
        margin-right: 20px;

        @media (max-width: 768px) {
          flex-direction: column;
          background-color: $primary-color;
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          padding: 0;
          transition: max-height 0.3s ease, padding 0.3s ease;
          overflow: hidden;
          max-height: 0; // Oculto por defecto
          gap: 10px;
          z-index: 999;
      
          &.active {
            max-height: 500px;
            padding: 15px 10px;
          }
        }
      }
      
        li {
          a {
            color: #fff;
            text-decoration: none;
            font-size: 1rem;
            &:hover {
              color: $accent-color;
            }
          }
        }
      }
    }

    .menu-toggle {
      display: none;
      cursor: pointer;
      font-size: 2rem;
      color: #fff;

      @media (max-width: 768px) {
        display: block;
      }
    }
  }

// Ya no se usa porque el logo fue movido
// .logo-container {
//   display: flex;
//   align-items: center;
//   gap: 10px;

//   img {
//     width: 58px;
//     height: auto;
//   }
// }

// Nuevo logo separado dentro del hero
.logo-separado {
  position: absolute;
  bottom: 20px;
  left: 20px;
  max-width: 150px;

  img {
    width: 100%;
    height: auto;
  }
}

.hero .container {
  position: relative; // Para que .logo-separado se posicione dentro
}

// Estilos generales
body {
  font-family: 'Lora', serif;
  color: $text-color;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

p, li {
  font-family: 'Lora', serif;
  font-weight: 400;
}

.btn {
  font-family: 'Merriweather', serif;
  font-weight: 600;
  text-transform: uppercase;
}
